
<!-- Container (About Section) -->
<div id="about" class="container-fluid">
    <div class="row">
      <div class="col-sm-8">
        <h2>{{ $.Site.Data.about.Introduce.AboutTitle}}</h2><br>
        <h4>{{ $.Site.Data.about.Introduce.AboutShortDescription}}</h4><br>
        <p>{{ $.Site.Data.about.Introduce.AboutDescription}}</p>
        <br><button class="btn btn-default btn-lg">Get in Touch</button>
      </div>
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-signal logo"></span>
      </div>
    </div>
  </div>
  
  <div class="container-fluid bg-grey">
    <div class="row">
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-globe logo slideanim"></span>
      </div>
      <div class="col-sm-8">
        <h2>{{ $.Site.Data.about.OurValues.OurValuesTitle}}</h2><br>
        <h4><strong>{{ $.Site.Data.about.OurValues.MissionTitle}}:</strong> 
          {{ $.Site.Data.about.OurValues.MissionDescription}}</h4><br>
        <p><strong>{{ $.Site.Data.about.OurValues.VisionTitle}}:</strong> 
          {{ $.Site.Data.about.OurValues.VisionDescription}}</p>
      </div>
    </div>
  </div>