<!-- Container (Contact Section) -->
<div id="contact" class="container-fluid bg-grey">
        <h2 class="text-center">CONTACT</h2>
        <div class="row">
          <div class="col-sm-5">
            <p>Contact us and we'll get back to you within 24 hours.</p>
            <p><span class="glyphicon glyphicon-map-marker"></span> Chicago, US</p>
            <p><span class="glyphicon glyphicon-phone"></span> +00 1515151515</p>
            <p><span class="glyphicon glyphicon-envelope"></span> myemail@something.com</p>
          </div>
          <div class="col-sm-7 slideanim">
            <div class="row">
              <div class="col-sm-6 form-group">
                <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
              </div>
              <div class="col-sm-6 form-group">
                <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
              </div>
            </div>
            <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
            <div class="row">
              <div class="col-sm-12 form-group">
                <button class="btn btn-default pull-right" type="submit">Send</button>
              </div>
            </div>
          </div>
        </div>
      </div>
     <!-- Google form contact-->
      <div>
          <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSetpmlU2wv0D16S1AaGbFz0lTIoXacR9jAGiOrqPS4YfoKhGA/viewform?embedded=true" width="100%" height="1320" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>

      </div> 

      <!--<div>  
          <form action="https://docs.google.com/forms/d/e/1FAIpQLSetpmlU2wv0D16S1AaGbFz0lTIoXacR9jAGiOrqPS4YfoKhGA/viewform?embedded=true" method="post" id="application-form" target="_blank">
            <div class="row">
              <div class="col-md-5">
                <div class="form-group">
                  <input type="text" name="entry.2005620554" value="" class="form-control name" id="entry_2005620554" dir="auto" aria-label="Name  " aria-required="true" placeholder="Name">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5">
                <div class="form-group">
                  <input type="text" name="entry.1045781291" value="" class="form-control email" id="entry_1045781291" dir="auto" aria-label="Email  " aria-required="true" placeholder="Email">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5">
                <div class="form-group">
                  <input type="text" name="entry.1166974658" value="" class="form-control phone" id="entry_1166974658" dir="auto" aria-label="Phone Number  " aria-required="true" placeholder="Phone">
                </div>
              </div>
            </div>
            <div class="col-md-5">
              <div class="form-group">
                <input type="submit" id="submit" class="btn btn-custom" name="submit" value="Submit Test Form">
              </div>
            </div>
        </form>
  </div> -->
  