<!-- Container (Contact Section) -->
<div id="contact" class="container-fluid bg-grey">
        <h2 class="text-center">CONTACT</h2>
        <div class="row">
          <div class="col-sm-6">
            <p>Contact us and we'll get back to you within 24 hours.</p>
            <p><span class="glyphicon glyphicon-map-marker"></span> Chicago, US</p>
            <p><span class="glyphicon glyphicon-phone"></span> +00 1515151515</p>
            <p><span class="glyphicon glyphicon-envelope"></span> myemail@something.com</p>
            <a href="/contact-us/" class="btn btn-info" role="button">Send Us a request</a>
          
          </div>

          <div class="col-sm-6">
            <div class = "row">
               <!-- google map test khỏi cần phải lấy key. chỉ việc vào google map lấy điểm muốn thể hiện, xong rồi bấm nút share, có embed frame thì dán vào div này-->
              <div id="map" style="width:100%;height:400px;"> 
             <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.5640087866386!2d106.70241561480071!3d10.768045892327242!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f2553d06491%3A0x24385b85075f3be3!2zQuG6v24gaMOgbmgga2jDoWNoIGR1IGzhu4tjaCBD4bqndSBN4buRbmc!5e0!3m2!1sen!2s!4v1572018526087!5m2!1sen!2s" width="100%" height="400" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
              </div>
            </div>
          
            </div>
          </div>
        </div>
      </div>
     
  
