<!-- google map test khỏi cần phải lấy key. chỉ việc vào google map lấy điểm muốn thể hiện, xong rồi bấm nút share, có embed frame thì dán vào div này-->
<div id="map" style="width:450px;height:300px;"> 
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.5640087866386!2d106.70241561480071!3d10.768045892327242!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f2553d06491%3A0x24385b85075f3be3!2zQuG6v24gaMOgbmgga2jDoWNoIGR1IGzhu4tjaCBD4bqndSBN4buRbmc!5e0!3m2!1sen!2s!4v1572018526087!5m2!1sen!2s" width="450" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
</div>

<footer class="container-fluid text-center">
  <a href="#myPage" title="To Top">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
  <p>Copyright by ME <a href="https://www.google.com" title="Find more">www.example.com</a></p>
</footer>

<script>
$(document).ready(function(){
  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {
    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 900, function(){
   
        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
  
  $(window).scroll(function() {
    $(".slideanim").each(function(){
      var pos = $(this).offset().top;

      var winTop = $(window).scrollTop();
        if (pos < winTop + 600) {
          $(this).addClass("slide");
        }
    });
  });
})
</script>
